// Primer Design Tokens
@use '@primer/primitives/dist/css/base/size/size.css';
@use '@primer/primitives/dist/css/base/typography/typography.css';
@use '@primer/primitives/dist/css/functional/size/border.css';
@use '@primer/primitives/dist/css/functional/size/breakpoints.css';
@use '@primer/primitives/dist/css/functional/size/size-coarse.css';
@use '@primer/primitives/dist/css/functional/size/size-fine.css';
@use '@primer/primitives/dist/css/functional/size/size.css' as f-size;
@use '@primer/primitives/dist/css/functional/size/viewport.css';
@use '@primer/primitives/dist/css/functional/typography/typography.css' as f-typography;

//THEMES
@use '@primer/primitives/dist/css/functional/themes/dark-high-contrast.css';
@use '@primer/primitives/dist/css/functional/themes/light-high-contrast.css';