@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

//--------------------
// 🫧 Reset
//--------------------
@mixin unstyled-list() {
    list-style: none;
    margin: 0;
    padding: 0;

    /**
    * @bugfix Prevent webkit from removing list semantics
    * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
    * 1. Add a non-breaking space
    * 2. Make sure it doesn't mess up the DOM flow
    */
    &>li:before {
        content: "\200B";
        /* 1 */
        position: absolute;
        /* 2 */
    }
}

@mixin unstyled-button() {
    align-items: center;
    appearance: button;
    backface-visibility: hidden;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transform: translateZ(0);
    user-select: none;
    vertical-align: top;
    webkit-user-select: none;
    width: max-content;
}

//--------------------
// 📖 Typography
//--------------------
@mixin type-h1() {
    --fontShorthand: var(--text-display-shorthand);
    font: var(--fontShorthand);
    letter-spacing: -0.1rem;
}

@mixin type-h2() {
    --fontShorthand: var(--text-title-shorthand-large);
    font: var(--fontShorthand);
    letter-spacing: -0.05rem;
}

@mixin type-h3() {
    --fontShorthand: var(--text-title-shorthand-medium);
    font: var(--fontShorthand);
    letter-spacing: -0.03rem;
}

@mixin type-h4() {
    --fontShorthand: var(text-title-shorthand-small);
    font: var(--fontShorthand);
}

@mixin type-body() {
    --fontShorthand: var(--text-body-shorthand-large);
    font: var(--fontShorthand);
    font-family: var(--fontStack-system);
    color: var(--fgColor-default);
}

@mixin type-body-small() {
    --fontShorthand: var(--text-body-shorthand-medium);
    font: var(--fontShorthand);
    font-family: var(--fontStack-system);
    color: var(--fgColor-default);
}

@mixin type-body-large() {
    --fontShorthand: var(--text-body-shorthand-large);
    font: var(--fontShorthand);
    font-family: var(--fontStack-system);
    color: var(--fgColor-default);
}

@mixin type-button() {
    // font-size: var(--font-size-base, 1rem) !important;
    // font-weight: variables.$font-weight-bold !important;
}

@mixin type-button-small() {
    // font-size: var(--font-size-base, 1rem) !important;
    // font-weight: variables.$font-weight-bold !important;
}

@mixin type-no-select() {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

//--------------------
// ♻️ Common styles
//--------------------
@mixin visually-hidden() {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@mixin focus() {
    outline-offset: 3px;
    outline: 2px solid var(--focus-outlineColor);
}

//--------------------
// 🏗️ Utility
//--------------------
$baseline: 16px !default;
$fallback: false !default;
$px-only: false !default;

@function _divide($a, $b) {
    @if map.has-key(meta.module-functions("math"), "div") {
        @return math.div($a, $b);
    }

    @else {
        @return $a / $b;
    }
}

@function convert($values...) {
    @if $px-only {
        @return _convert(px, $values...);
    }

    @else {
        @return _convert(rem, $values...);
    }
}

@mixin convert($properties, $values...) {
    @if meta.type-of($properties)=="map" {
        @each $property, $values in $properties {
            @include convert($property, $values);
        }
    }

    @else {
        @each $property in $properties {
            @if $fallback or $px-only {
                #{$property}: _convert(px, $values...);
            }

            @if not $px-only {
                #{$property}: _convert(rem, $values...);
            }
        }
    }
}

@mixin baseline($zoom: 100%) {
    font-size: _divide($zoom, 16px) * $baseline;
}

// Proxy when used with a different namespace
@function rem($values...) {
    @return convert($values...);
}

@function _convert($to, $values...) {
    $result: (
    );
$separator: list.separator($values);

@each $value in $values {
    @if meta.type-of($value)=="number" and math.unit($value)=="rem" and $to =="px" {
        $result: list.append($result, _divide($value, 1rem) * $baseline, $separator);
    }

    @else if meta.type-of($value)=="number" and math.unit($value)=="px" and $to =="rem" {
        $result: list.append($result, _divide($value, $baseline) * 1rem, $separator);
    }

    @else if meta.type-of($value)=="list" {
        $result: list.append($result, _convert($to, $value...), $separator);
    }

    @else {
        $result: list.append($result, $value, $separator);
    }
}

@if list.length($result)==1 {
    @return list.nth($result, 1);
}

@else {
    @return $result;
}
}