@use './mixins';

body {
    --fontShorthand: var(--text-body-shorthand-large);
    font-family: var(--fontStack-system);
    color: var(--fgColor-default);
    background-color: var(--bgColor-default);
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    text-box-trim: trim-both;
}

h1 {
    @include mixins.type-h1();
}

h2 {
    @include mixins.type-h2();

}

h3 {
    @include mixins.type-h3();
    --fontShorthand: var(text-title-shorthand-medium);
    letter-spacing: -0.03rem;
}

h4,
h5,
h6 {
    @include mixins.type-h4();
    --fontShorthand: var(text-title-shorthand-small);
}

p {
    margin-top: 0;
    margin-bottom: var(--base-size-16);
    max-width: 72ch;
}

a {
    color: var(--fgColor-link);

    :visited {
        color: var(--fgColor-link);
    }

    :focus-visible {
        @include mixins.focus();
    }

    :hover {
        text-decoration: underline;
    }

    :active {
        color: var(--fgColor-default);
    }
}