@use "../../app/styles/mixins";

$-radio-width: 44px;
$-radio-border-radius: var(--borderRadius-full);

.c-radio-group {
  margin: 0;
  border: none;
  border-radius: calc(var(--borderRadius-small) + var(--base-size-20));
  padding-block-start: var(--base-size-8);
  padding-inline: 0;
  padding-block-end: var(--base-size-20);

  &__label {
    padding-inline: var(--base-size-8);
  }

  &--inline {
    .c-radio {
      max-width: fit-content;
    }
  }
}

.c-radio {
  border: 1px solid var(--borderColor-muted);
  border-radius: calc(var(--borderRadius-small) + var(--base-size-6));
  padding: var(--base-size-6);
  flex: 1;

  &__description {
    padding: var(--base-size-6);
    margin: 0;
  }

  &__label {
    @include mixins.type-button();
    display: grid;
    grid-template-columns: $-radio-width auto;
    align-items: center;
    gap: var(--base-size-8);
    padding: var(--base-size-8);
    background-color: var(--bgColor-muted);
    border-radius: var(--borderRadius-small);
    cursor: pointer;
    user-select: none;

    input[type="radio"] {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      /* Remove most all native input styles */
      appearance: none;
      /* For iOS < 15 */
      background-color: var(--bgColor-default);
      /* Not removed via appearance */
      margin: 0;
      cursor: pointer;
      font: inherit;
      color: currentColor;
      width: $-radio-width;
      height: $-radio-width;
      border: 2px solid currentColor;
      border-radius: $-radio-border-radius;
      display: grid;
      place-content: center;
      align-self: flex-start;

      &::before {
        content: "";
        width: calc($-radio-width - 19px);
        height: calc($-radio-width - 19px);
        clip-path: circle();
        //clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        will-change: transform;
        transform: scale(0);
        transform-origin: center;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        background-color: CanvasText;
        background-color: var(--fgColor-accent);
      }

      &:checked {
        &::before {
          transform: scale(1);
        }

        &+.c-radio__label-text {
          //text-decoration: line-through;
          text-decoration-color: var(--color-switch-track-checked-bg);
          text-decoration-thickness: 2px;
        }
      }

      &:focus-visible {
        @include mixins.focus();
      }
    }
  }
}

@media print {
  input[type="radio"]:checked {
    text-align: center;
  }

  input[type="radio"]:checked::before {
    @include mixins.type-body();
    clip-path: none;
    content: "x";
  }
}