.c-list__list-item {
  position: relative;
  display: list-item;
  padding: var(--base-size-8);
  margin: 0;

  &:not(:last-of-type)::before {
    position: absolute;
    background-color: var(--borderColor-default);
    block-size: 1px;
    content: "";
    inset-block-end: 0;
    inset-inline: 0;
  }

  &--link {
    display: block;
    padding: 0;
    margin: 0;

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      border-right: 0.2em solid var(--fgColor-default);
      border-top: 0.2em solid var(--fgColor-default);
      transform: rotate(45deg);
      margin-right: var(--base-size-8);
      margin-top: auto;
      margin-bottom: auto;
    }

    >a {
      display: block;
      padding-block: var(--base-size-8);
      padding-left: var(--base-size-8);
      padding-right: var(--base-size-16);
      color: var(--fgColor-default);
      text-decoration: none;
      border-radius: var(--borderRadius-small);

      :visited,
      :focus,
      :hover,
      :active {
        color: var(--fgColor-default);
      }

      >* {
        margin: 0;
      }

      >:is(h1, h2, h3, h4, h5, h6) {
        text-decoration: underline;
        text-underline-position: from-font;
        text-underline-offset: 0;
        text-decoration-thickness: 1px;
      }
    }
  }
}