// Top level object field
.t-object-field {
  margin: 0;
  border: none;
  padding-block-start: var(--base-size-8);
  padding-inline: var(--base-size-8);
  padding-block-end: var(--base-size-20);
}

// Nested object fields
.t-object-field .t-object-field {
  border: 1px solid var(--borderColor-neutral-muted);
  border-radius: calc(var(--borderRadius-small) + var(--base-size-20));
  padding-block-start: var(--base-size-8);
  padding-inline: var(--base-size-8);
  padding-block-end: var(--base-size-20);
}

.t-object-field .t-object-field .t-object-field {
  border: none;
  padding-inline: 0;
}

@media (min-width: 48rem) {
  .t-object-field .t-object-field {
    padding-inline: var(--base-size-20);
  }
}

.t-object-field>legend+* {
  margin-block-start: 0 !important;
}