.t-object-field {
  margin: 0;
  border: 1px solid var(--borderColor-muted);
  border-radius: calc(var(--borderRadius-small) + var(--base-size-16));
  padding-block-start: var(--base-size-8);
  padding-inline: var(--base-size-16);
  padding-block-end: var(--base-size-16);
}

.t-object-field>legend+* {
  margin-block-start: 0 !important;
}