name: GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.11.0'

      - run: npm install

      - name: Setup API
        run: |
          npm run generate:api
          git config user.name "github-actions[bot]"
          git config user.email {user.id}+{user.login}@users.noreply.github.co
          git add .
          git commit -m "chore: generated api [skip ci]"
          git push

      - run: npm run build

      - name: Copy data assets
        run: cp -r ./src/data ./dist/data

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
